---
---

@import "reset";
@import "variables";
@import "base-rules";
// Syntax highlighting @import is at the bottom of this file

// Utility Classes //
.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 4rem;
  width: 100%;
}
.content-wrapper {
  padding: 0em 0em;
  margin: 0em 0em;
}
.btn {
  font-weight: 600;
  text-decoration: none;
  background-color: $mainBlue;
  color: $white;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
  box-shadow: 0px 0px 8px rgba(17, 127, 173, 0.25),
    0px -2px 8px rgba(17, 127, 173, 0.25), 0px 2px 8px rgba(17, 127, 173, 0.25);
  transition: box-shadow 0.09s;
}

.btn:hover {
  box-shadow: 0px 0px 8px rgba(250, 25, 62, 0.25),
    0px -2px 8px rgba(250, 25, 62, 0.25), 0px 2px 8px rgba(250, 25, 62, 0.25);
}

.btn:active {
  color: rgb(201, 201, 201);
}

// Used for captioning
img ~ em {
  display: block;
  margin: 0 auto;
  text-align: center;
}

// Sections //
@import "header";
@import "footer";

// Pages //
@import "posts";
@import "projects";

// Implements mobile-first design
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 calc(4rem + 28px);
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

// Bloating imports at bottom
@import "highlights";
@import "svg-icons";
