.wrapper-footer {
  height: fit-content;
  margin-top: 50px;
  border-top: 1px solid $gray;
  background-color: $headerBlack;
}
footer {
  //padding: 20px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons {
  display: flex;
  flex-direction: column;
}
.email-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.signup {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: 10px 0px;
  border: 2px solid $accentRed;
  border-radius: 10px;
  background-color: rgba(250, 25, 62, 0.1);
  h3 {
    margin: 0px;
    border-bottom: 1px solid $mainBlue;
  }
  p {
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 16px;
    //color: $white;
  }
}
// Hides label that is used for screen readers
[for="email-address"] {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;

  width: 1px;
  height: 1px;
  padding: 0;
  border-width: 0;
}
#email-address {
  border-radius: 5px;
}
.socials {
  position: relative;
  top: -10px;
  h2 {
    margin: 0px;
    border-bottom: 1px solid $blue;
    width: fit-content;
  }
  text-align: left;
  height: auto;
}
.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: None;
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
}

.links li {
  width: 180px;
  p {
    margin: 0px;
    padding: 0px;
  }
}
.socials h2 {
  padding-top: 15px;
}
.links li:first-child,
.links li:nth-child(2) {
  border-bottom: 2px solid $mainBlue;
  margin-bottom: 2px;
  padding-bottom: 2px;
}
.signup-extra {
  display: none;
}
@media (min-width: 475px) {
  .footer {
    padding: 0em 0em;
    margin: 0em 0em;
  }
}
@media (min-width: 640px) {
  .footer {
    margin: 0rem calc(1rem - 100px);
  }
}
@media (min-width: 768px) {
  .footer {
    margin: 0rem calc(2rem - 40px);
  }
  .signup {
    width: 250px;
    margin-left: 10px;
    padding: 5px;
  }
  #email-address {
    width: 225px;
    height: 30px;
    margin-bottom: 5px;
  }
  .email-form button{
    height: 32px;
    padding-top: 4px;
    margin-bottom: 5px;
  }
}
@media (min-width: 1024px) {
  .footer {
    margin: 0rem calc(4rem - 50px);
  }
  .links {
    width: 400px;
  }

  .signup {
    width: 375px;
  }
  .signup-extra {
    display: inline;
  }
  #email-address {
    margin-right: 10px;
    width: 235px;
    height: 39px;

  }
  .email-form button{
    height:min-content;
    padding-top: 8px;
  }
}
@media (min-width: 1280px) {
  .footer {
    margin: 0rem calc(8rem - 100px);
  }
  .socials h2 {
    padding-top: 0px;
  }
  .links {
    width: 650px;
    padding-top: 10px;
  }
  .links li {
    max-width: max-content;
  }
  .links li:first-child,
  .links li:nth-child(2) {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
@media (min-width: 1536px) {
  .footer {
    margin: 0rem calc(16rem - 150px);
  }
}
// TO-DO: Add reactive scaling to footer, especially with links and signup form input;
// TO-DO: Finish reactive scaling, clean up css
// TO-DO: Delete svgs and all references to them, add hrefs to social links
