@media (min-width: 1024px) {
  .first-section {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1536px) {
  .index-page {
    p {
      font-size: larger;
    }
  }
}
.first-section {
  margin-top: 2rem;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $accentRed;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  text-align: center;
  margin-right: 25px;
  img {
    display: inline;
    width: 250px;
    height: 250px;
    border-radius: 15px;
  }
}
.contact {
  p {
    margin-top: 0px;
  }
  a:hover {
    color: var(--lightGray);
  }
  a:active{
    color: var(--white);
  }
}
