// Utility Classes and Styling for Posts //
.date {
  font-style: italic;
  color: $gray;
}

.subtitle {
  // Hide subtitle on small screens
  display: none;
  overflow: hidden;

  width: 300px;

  font-size: 18px;
  font-style: italic;
  color: rgb(218, 218, 218);

  padding-top: 0px;
  padding-bottom: 5px;
  margin: 0px;

  border-bottom: solid 1px $lightGray;
}

.post {
  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid $lightGray;
    padding: 0.1em 1em;
    color: $lightGray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 18px;
  }
  h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .entry {
    img {
      width: 475px;
      border-radius: 15px;
      padding-bottom: 4px;
    }
  }
}

// Styling for Blog Page //

// Adds border to separate each entry
.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $accentRed;
}

// Removes border from last entry
.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

// Adds padding to sides without messing with separator
.preview-container {
  padding: 0px 10px;
}

.excerpt {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Auto-scaling height for small screens
  height: fit-content;

  // Hide image for small screens
  p > img + em,
  p > img {
    display: none;
  }

  p:first-of-type {
    width: 100%;
    padding-top: 15px;
    margin-top: 0px;
    margin-right: 5px;
  }
}

// Mobile-first design //
@media (min-width: 475px) {
  .post {
    padding: 0em 0em;
    margin: 0em 0em;
  }
}
@media (min-width: 640px) {
  .post {
    margin: 0rem 1rem;
  }
  // Add back subtitle
  .subtitle {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .post {
    margin: 0rem 2rem;
  }
  // Add back centered image to blog post
  .entry {
    img ~ em,
    img {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
  
  .excerpt {
    // Set fixed height for post excerpts
    height: 250px;
     
    // Add back image to blog page
    p > img {
      max-width: 250px;
      padding: 5px;
      border-radius: 15px;
      padding-bottom: 2px;
    }

    p > img + em,
    p > img { 
      display: block;
      position: relative;
      top: -15px;
      font-size: 16px;
    }

    // Makes space for image
    p:first-of-type {
      max-width: 500px;
      width: 100%;
      height: 100%;
      margin-right: 5px;
    }
  }
}
@media (min-width: 1024px) {
  .post {
    margin: 0rem 4rem;
  }
  .entry {
    // Float blog image to the right on larger screens
    p:has(img ~ em) {
      float: right;
      margin-left: 20px;
      margin-bottom: 0px;
    }
  }
  // Make image larger and excerpt height smaller
  .excerpt {
    height: 200px;

    p > img {
      max-width: 325px;
      padding: 10px;
      border-radius: 20px;
    }

    p:first-of-type {
      padding-top: 15px;
      padding-bottom: 0px;
    }
  }
}
@media (min-width: 1280px) {
  .post {
    margin: 0rem 6rem;
  }
  .excerpt{
    font-size: 1.15em;
    p:first-of-type {
      max-width: 600px;
      width: 100%;
    }
  }
}
@media (min-width: 1536px) {
  .post {
    margin: 0rem 10rem;
  }
}
