.project-header {
  display: flex;

  align-items: center;
  h1 {
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
  }
  h1:not(#true, #false) {
    margin-left: 5px;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  #true {
    color: $mainBlue;
  }
  #false {
    color: $accentRed;
  }
  .divider {
    position: relative;
    top: 6px;
    border-color: $lightGray;
    margin: 0px 15px;
  }
}
.project-img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.project-img {
  display: block;
}
.project-details {
  font-size: larger;
  p {
    padding-top: 0px;
    margin-top: 0px;
  }
  h2,
  h3,
  h4 {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  hr{
    margin-bottom: 15px;
  }
}
p:has(.project-img) {
  margin: 0px;
}
@media (min-width: 475px) {
}
@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .project-img {
    max-width: 425px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 20px;
  }
  p:has(.project-img) {
    float: left;
    // margin-left: 20px;
    //margin-bottom: 10px;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
