//
// VARIABLES
//

// Theme-switching colors
// Normal CSS variables because of theme switching

:root {
  --backgroundBlack: #181818;
  --headerBlack: rgb(15, 15, 15);
  --black: #000;
  --selectionBlue: lightblue;
  --textGray: lightgrey;
  --white: #fff;
  --titleWhite: rgb(240, 240, 240);
}

.light-mode {
  --backgroundBlack: rgb(249, 251, 253);
  --headerBlack: rgb(249, 251, 253);
  --black: #fff;
  --white: #000;
  --textGray: #333;
  --titleWhite: #222;
  --selectionBlue: #eee;
  .rss,
  .mobile-links .rss {
    filter: invert(0%);
  }
}

// Unchanging Colors / Borders
$blue: #00b0fb;
$mainBlue: #117fad;
$accentRed: #fa193e;
$gray: #666;
$lightGray: #eee;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
