//
// VARIABLES
//

// Colors
$blue: #00b0fb;
$mainBlue: #117fad;
$accentRed: #fa193e;

// Grays
$backgroundBlack: #181818;
$headerBlack: rgb(15, 15, 15);
$black: #000;
$darkGray: #333;
$gray: #666;
$textGray: #bbb9b9;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}