
//
// VARIABLES
//

// Colors
$blue: #00B0FB;
$mainBlue: #117FAD;
$accentRed: #FA193E;

// Grays
$backgroundBlack:#181818;
$headerBlack: rgb(15,15,15);
$black: #000;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}