---
layout: default
---

<article class="project">
  <div class="project-header">
    <h1>{{ page.title }}</h1>
    {% if page.finished == true %}
    <h2 id="true">Finished</h2>
    {% endif %}
    {% if page.finished == false %}
    <h2 id="false">In Progress</h2>
    {% endif %}
  </div>
  <p>
    <img
      src="../../images/{{ page.img_link }}"
      alt="{{ page.title }}"
      class="project-img"
    />
  </p>
  <div class="project-details">{{ content }}</div>
</article>
<!-- TO-DO: Style project template similar to blog excerpts, having img on left, title, description, reasoning, and links on the right/bottom. -->
<!-- TO-DO: Add blog excerpt container around project template and project catalog -->
